*{
    font-family: "Fredoka";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100px;
    background-image: url(../assets/backcharacter.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* INICIO HEADER */

header{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.menu{
    margin-top: 10px;
    width: 90%;
    height: 90px;
    border-radius: 6000px;
    background: #67C46B;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content:center;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    height: 100%;
}


.logo{
    width: 215px; 
    height: auto; 
    max-width: none;
}

.navigation{
    margin: right 0;
}


.nav-items{
    display: flex;
    align-items: center;
    gap: 40px;
}


.nav-items li{
    list-style: none;
}


.nav-items li a{
    color: #4C3423;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.nav-items li a:hover {
    color: gray;
}


.nav-items .signupbutton{
    background-color: #4C3423; 
    color: white; 
    border-radius: 1000px;
    padding: 10px 40px;
    text-decoration: none;
}

.nav-items .signupbutton:hover{
    background-color: #41230e;
}



/* INICIO CHARACTER */


/* INFO */

.imgcharacter{
    position: absolute;
    z-index: 1;
    margin-top: 150px;
    margin-left: 170px;
    width: 260px;
}

.ellipse{
    position: absolute;
    margin-top: 520px;
    margin-left: 175px;
    z-index: 0;
    width: 250px;
}

.tittles{
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    padding-left: 500px;
    width: 100%;
    height: 670px;
}

.containertittles{
    margin-bottom: 50px;
}

#name{
    color: #4C3423;
    font-size: 80px;
    font-weight: 500;
}

#phrase{
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

/* FIRST INFO */

.firstinfo{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 80px;
    margin-bottom: 30px;
}

.infoitem{
    text-align: start;
    margin: 0 10px;

    h3{
        color: #67C46B;
        font-size: 22px;
        font-weight: 500;
        text-decoration: underline; 
        text-decoration-thickness: 1px;
        margin-bottom: 5px;
    }

    p{
        color: #000;
        font-size: 19px;
        font-weight: 400;
    }
}


/* SECOND INFO */

.secondinfo{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 25px;
    padding: 35px 0px 0px 30px;
    align-items: start;
    border-radius: 37px;
    background: #67C46B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 690px;
    height: 170px; 
}

.column1{
    width: 350px;
    font-size: 18px;
    font-weight: 500;
    margin-right: 45px;

    p{
        margin-bottom: 8px;
    }
}

.column2{
    width: 300px;
    font-size: 18px;
    font-weight: 500;

    p{
        margin-bottom: 8px;
    }
}

.firstword{
    color: #4C3423;;
}

.secondword{
    color: #F2E495;
}

/* INICIO FOOTER */

footer{
    width: 100%;
    height: 420px;
    background-color: #FFF5BF;
    display: flex;
    flex-direction: column;
}

.containerfooter{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

.footerlogo{
    width: 350px;
}
.containerimgg{
    display: flex;
}

#titlefooter{
    color: #000;
    text-align: start;
    font-size: 30px;
    font-weight: 500;
}


.containerlocationfollow{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 300px;
    margin-right: 50px;
    gap: 20px;
    padding-top: 5px;
}

.location{
    padding-bottom: 20px;


    p{
        color: #000;
        font-size: 16px;
        font-weight: 400;
    }
}


.icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 3px;
    text-align: center ;
    justify-content: start;
}


.fa-instagram {
    color: black;
    font-size: 22px;
    font-weight: bold;
}


.fa-facebook-f{
    color: black;
    font-size: 20px;
}


.fa-google{
    color: black;
    font-size: 20px;
}


form {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    width: 100%;
}

.containerform{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
}

.containerform input,textarea{
    width: 470px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}


.containerform textarea{
    height: 40px;
}


.buttonfooter {
    width: 15%;
    height: 30px;
    margin-top: 10px;
    background-color: #67C46B;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}


.buttonfooter:hover{
    color: gray;
    background: #3db042;
}

/* rights */

.containerrights {
    text-align: center;
    padding-top: 20px;
    border-top: 1.5px solid #000;
    width: 93%;
    height: 30px;
    margin: 20px auto;
    flex-basis: 100%;
    font-size: 12px;
    font-weight: 400;
}