*{
    font-family: "Fredoka";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


/* INICIO HEADER */

header{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.menu{
    margin-top: 10px;
    width: 90%;
    height: 90px;
    border-radius: 6000px;
    background: #67C46B;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content:center;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
}


.logo{
    width: 170px;
}


.navigation{
    margin: right 0;
}


.nav-items{
    display: flex;
    align-items: center;
    gap: 62px;
}


.nav-items li{
    list-style: none;
}


.nav-items li a{
    color: #4C3423;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.nav-items li a:hover {
    color: gray;
}


.nav-items .signupbutton{
    background-color: #4C3423; 
    color: white; 
    border-radius: 1000px;
    padding: 10px 40px;
    text-decoration: none;
}

.nav-items .signupbutton:hover{
    color: gray;
}

/* INICIO BANNER */

.banner{
    width: 100%;
    height: 655px;
    background-image: url(../assets/backbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.bannercontainer{
    padding-top: 250px;
    margin: 0px 20px 0px 60px;
    width: 50%;
}


#bannertitle{
    color: #F5F5F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 50px;
    font-weight: 500;
}


#bannertext{
    color: #F5F5F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 500;


}


/* INICIO ABOUT US */


.aboutus{
    width: 100%;
    height: 590px;
    background-image: url(../assets/backus.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.whoarewecontainer{
    text-align: center;
    padding: 50px 310px 0px 310px;

    h1{
        color: #000;
        font-size: 40px;
        font-weight: 500;
    }

    p{
        color: #000;
        font-size: 16px;
        font-weight: 400;
    }
}

.characterscontainer{
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
    align-items: center;

    h1{
        color: #4E433B;
        font-size: 30px;
        font-weight: 500;
    }

    p{
        color: #472E1B;
        font-size: 16px;
        font-weight: 500;
        width: 220px;
    }
}

.marianacontainer{
    text-align: right;
    border-radius: 0px 25px 25px 0px;
    background: #BDE4E1;
    padding: 40px 40px 40px 300px;
}

#imgmariana{
    position: absolute;
    top: 800px;
    left: 0px;
}

.isabelacontainer{
    text-align: left;
    border-radius: 25px 0px 0px 25px;
    background: #BDE4E1;
    padding: 40px 300px 40px 40px;
}

#imgisabela{
    position: absolute;
    top: 800px;
    right: 0px;
    z-index: 1;
}

/* INICIO CALL TO ACTION */


.calltoaction{
    width: 100%;
    height: 450px;
    background-color: rgb(96, 108, 196);
    background-image: url(../assets/backcta.png);
}

.calltoactioncontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    gap: 25px;

    h1{
        color: #67C46B;
        font-size: 50px;
        font-weight: 600;
    }

    button{
        color: #F5F5F5;
        font-size: 20px;
        font-weight: 500;
        border-radius: 30px;
        background: #67C46B;
        padding: 15px 60px;
        border: none; 
    }

    a{
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: gray;
    }
}

#registerhere{
    color: #4C3423 ;
}

#registerhere:hover {
    color: gray;
}

#phrase{
    color: #4C3423;
    font-size: 18px;
    font-weight: 450;
    text-align: center;
}

#register{
    color: #4C3423;
    font-size: 14px;
    font-weight: 500;
}

#imgcharacter1{
    width: 280px;
    position: absolute;
    left: 60px;
    top: 1300px;
    z-index: 1;
}

#imgcharacter2{
    width: 280px;
    position: absolute;
    right: 60px;
    top: 1300px;
    z-index: 1;
}

/* INICIO CARROUSEL */

.carrousel{
    width: 100%;
    height: 500px;
    background-color: rgb(161, 161, 239);
}

.imgcarrousel{
    width: 100%;
    height: 100%;
}

/* INICIO FOOTER */

footer{
    width: 100%;
    height: 400px;
    background-color: #FFF5BF;
    display: flex;
}

.footer{
    display: flex;
    flex-direction: row;
}

.footerlogo{
    width: 400px;
}
.containerimgg{
    display: flex;
    align-items: center;
}

.containerlocationfollow{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
}

.containerform{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}