*{
    font-family: "Fredoka";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


/* INICIO HEADER */

header{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.menu{
    margin-top: 10px;
    width: 90%;
    height: 90px;
    border-radius: 6000px;
    background: #67C46B;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content:center;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    height: 100%;
}


.logo{
    width: 215px; 
    height: auto; 
    max-width: none;
}

.navigation{
    margin: right 0;
}


.nav-items{
    display: flex;
    align-items: center;
    gap: 40px;
}


.nav-items li{
    list-style: none;
}


.nav-items li a{
    color: #4C3423;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.nav-items li a:hover {
    color: gray;
}


.nav-items .signupbutton{
    background-color: #4C3423; 
    color: white; 
    border-radius: 1000px;
    padding: 10px 40px;
    text-decoration: none;
}

.nav-items .signupbutton:hover{
    background-color: #41230e;
}

/* INICIO BANNER */

.banner{
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/backbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.bannercontainer{
    margin: 0px 20px 0px 60px;
    width: 50%;
}


#bannertitle{
    color: #F5F5F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 50px;
    font-weight: 500;
}


#bannertext{
    color: #F5F5F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 500;


}


/* INICIO ABOUT US */


.aboutus{
    width: 100%;
    min-height: 50vh;
    background-image: url(../assets/backus.png);
    background-color: rgba(255, 255, 255, 0.619); 
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.whoarewecontainer{
    text-align: center;
    padding: 50px 310px 0px 310px;

    h1{
        color: #000;
        font-size: 40px;
        font-weight: 500;
    }

    p{
        color: #000;
        font-size: 16px;
        font-weight: 400;
    }
}

.characterscontainer{
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 80px; 

    h1{
        color: #4E433B;
        font-size: 30px;
        font-weight: 500;
    }

    p{
        color: #472E1B;
        font-size: 16px;
        font-weight: 500;
        width: 220px;
    }
}

.marianacontainer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    min-width: 80vh;
    text-align: right;
    border-radius: 0px 25px 25px 0px;
    background: #BDE4E1;
    padding: 40px 40px 40px 300px;
    position: relative;
}

#imgmariana{
    position: absolute;
    left: 0px;
    z-index: 1;
}

.isabelacontainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-width: 80vh;
    text-align: left;
    border-radius: 25px 0px 0px 25px;
    background: #BDE4E1;
    padding: 40px 300px 40px 40px;
    position: relative;
}

#imgisabela{
    position: absolute;
    right: 0px;
    z-index: 1;
}

/* INICIO CALL TO ACTION */


.calltoaction{
    width: 100%;
    min-height: 50vh;
    background-color: rgb(96, 108, 196);
    background-image: url(../assets/backcta.png);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.626); 
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calltoactioncontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    gap: 25px;
    padding: 90px;

    h1{
        color: #67C46B;
        font-size: 50px;
        font-weight: 600;
    }
}

.buttoncta{
    color: #F5F5F5;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
    background: #67C46B;
    padding: 15px 60px;
    border: none; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttoncta:hover {
    background: #3db042;
    color: gray;
}

#registerhere{
    color: #4C3423 ;
    text-decoration: none;
}

#registerhere:hover {
    color: gray;
}

#phrase{
    color: #4C3423;
    font-size: 18px;
    font-weight: 450;
    text-align: center;
}

#register{
    color: #4C3423;
    font-size: 14px;
    font-weight: 500;
}

#imgcharacter1{
    width: 280px;
    position: absolute;
    left: 60px;
    z-index: 1;
}

#imgcharacter2{
    width: 280px;
    position: absolute;
    right: 60px;
    z-index: 1;
}

/* INICIO CARROUSEL */

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    min-height: 80vh;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
}

.slides {
    display: flex;
    transition: transform 0.6s ease;
    width: 100%;
}

.slide {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    min-height: 80vh;
    max-height: 350px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slides { transform: translateX(0%); }
#slide2:checked ~ .slides { transform: translateX(-100%); }
#slide3:checked ~ .slides { transform: translateX(-200%); }
#slide4:checked ~ .slides { transform: translateX(-300%); }

.navigation {
    text-align: center;
    background-color: #FFF5BF;
    padding-bottom: 50px;
    padding-top: 10px;
}

.navigation label {
    cursor: pointer;
    font-size: 20px;
    padding: 0 5px;
    color: #888;
    transition: 0.3s;
}

.navigation label:hover {
    color: #333;
}


body {
    overflow-x: hidden;
}

/* INICIO FOOTER */

footer{
    width: 100%;
    min-height: 50vh;
    background-color: #FFF5BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerfooter{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    flex-wrap: wrap;
    width: 100%; 
    justify-content: space-between; 
}

.footerlogo{
    width: 350px;
}
.containerimgg{
    display: flex;
}

#titlefooter{
    color: #000;
    text-align: start;
    font-size: 30px;
    font-weight: 500;
    width: 100%; 
}


.containerlocationfollow{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 300px;
    margin-right: 50px;
    gap: 20px;
    padding-top: 5px;
}

.location{
    padding-bottom: 20px;


    p{
        color: #000;
        font-size: 16px;
        font-weight: 400;
    }
}


.icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 3px;
    text-align: center ;
    justify-content: start;
}


.fa-instagram {
    color: black;
    font-size: 22px;
    font-weight: bold;
}


.fa-facebook-f{
    color: black;
    font-size: 20px;
}


.fa-google{
    color: black;
    font-size: 20px;
}


form {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    width: 100%;
    margin-right: 20px;
}

.containerform{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
}

.containerform input,textarea{
    width: 470px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}


.containerform textarea{
    height: 40px;
}


.buttonfooter {
    width: 15%;
    height: 30px;
    margin-top: 10px;
    background-color: #67C46B;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}


.buttonfooter:hover{
    color: gray;
    background: #3db042;
}

/* rights */

.containerrights {
    text-align: center;
    padding-top: 20px;
    border-top: 1.5px solid #000;
    width: 93%;
    height: 30px;
    margin: 20px auto;
    flex-basis: 100%;
    font-size: 12px;
    font-weight: 400;
}