*{
    font-family: "Fredoka";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


/* INICIO HEADER */

header{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    width: 100%;
    position: fixed;
}

.menu{
    margin-top: 10px;
    width: 90%;
    height: 90px;
    border-radius: 6000px;
    background: #67C46B;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content:center;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
}


.logo{
    width: 170px;
}


.navigation{
    margin: right 0;
}


.nav-items{
    display: flex;
    align-items: center;
    gap: 62px;
}


.nav-items li{
    list-style: none;
}


.nav-items li a{
    color: #4C3423;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.nav-items li a:hover {
    color: gray;
}


.nav-items .signupbutton{
    background-color: #4C3423; 
    color: white; 
    border-radius: 1000px;
    padding: 10px 40px;
    text-decoration: none;
}

.nav-items .signupbutton:hover{
    color: gray;
}

/* INICIO BANNER */

.banner{
    width: 100%;
    height: 630px;
    background-image: url(../assets/backbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.bannercontainer{
    padding-top: 250px;
    margin: 0px 20px 0px 60px;
    width: 50%;
}


#bannertitle{
    color: #F5F5F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 50px;
    font-weight: 500;
}


#bannertext{
    color: #F5F5F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 500;


}

