*{
    font-family: "Fredoka";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


/* INICIO HEADER */

header{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.menu{
    margin-top: 10px;
    width: 90%;
    height: 90px;
    border-radius: 6000px;
    background: #67C46B;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content:center;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
}


.logo{
    width: 170px;
}


.navigation{
    margin: right 0;
}


.nav-items{
    display: flex;
    align-items: center;
    gap: 62px;
}


.nav-items li{
    list-style: none;
}


.nav-items li a{
    color: #4C3423;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.nav-items li a:hover {
    color: gray;
}


.nav-items .signupbutton{
    background-color: #4C3423; 
    color: white; 
    border-radius: 1000px;
    padding: 10px 40px;
    text-decoration: none;
}

.nav-items .signupbutton:hover{
    color: gray;
}


/* INICIO BUSCADORA */

.search{
    width: 100%;
    height: 360px;
    background-image: url(/assets/backneighbors.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchcontainer{
    padding-top: 120px;
    position: relative;
}

.searchcontainer input{
    border-radius: 60px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 500px;
    height: 50px;
    font-size: 16px;
    border: none;
    padding-left: 52px;
}

.searchneighbor .icono{
    position: absolute;
    left: 15px;
    top: 130px;
    color: #4C3423;
    font-size: 30px;
    justify-content: center;
}

/* INICIO NEIGHBORS OF THE DAY */

.neighbors{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 80%;
    height: 100%;
}

.cardneighbor{
    position: relative;
    width: 210px;
    height: 260px;
    border-radius: 37px;
    background: #BDE4E1;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cardneighbor img{
    width: 130px;
    height: 210px;
    aspect-ratio: auto 150 / 179;
    padding-bottom: 20px;
}

.cardneighbor:hover{
    background-color: #7adfd7;
}


#titleneighbors{
    flex-basis: 100%;
    color: #000;
    font-size: 35px;
    font-weight: 500;
    margin-left: 35px;
    margin-top: 90px;
}

.cardcontent{
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    padding: 220px 0px 5px 20px;
}

.cardcontent .icon{
    padding-left: 15%;
    font-size: 25px;
    color: #FFBE17;
}

#nameneighbor{
    color: #4C3423;
    font-size: 17px;
    font-weight: 500;
    width: 60%;
    margin: 0;
}

/* INICIO FAVORITES*/

.favorites{
    margin: 0 auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 25px;
    width: 80%;
    height: 100%;
    padding-left: 30px;
    padding-top: 50px;
}

.cardfavoriteneighbor{
    position: relative;
    width: 210px;
    height: 260px;
    border-radius: 37px;
    background: #C2EFC2;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cardfavoriteneighbor img{
    width: 130px;
    height: 210px;
    aspect-ratio: auto 150 / 179;
    padding-bottom: 20px;
}

.cardfavoriteneighbor:hover{
    background-color: #95e895;
}


#titlefavorites{
    flex-basis: 100%;
    color: #000;
    font-size: 35px;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 90px;
}