*{
    font-family: "Fredoka";
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    width: 100%;
    height: 900px;
    background-color: white;
}


/* INICIO HEADER */

header{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.menu{
    margin-top: 10px;
    width: 90%;
    height: 90px;
    border-radius: 6000px;
    background: #67C46B;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content:center;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    height: 100%;
}


.logo{
    width: 215px; 
    height: auto; 
    max-width: none;
}

.navigation{
    margin: right 0;
}


.nav-items{
    display: flex;
    align-items: center;
    gap: 40px;
}


.nav-items li{
    list-style: none;
}


.nav-items li a{
    color: #4C3423;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}


.nav-items li a:hover {
    color: gray;
}


.nav-items .signupbutton{
    background-color: #4C3423; 
    color: white; 
    border-radius: 1000px;
    padding: 10px 40px;
    text-decoration: none;
}

.nav-items .signupbutton:hover{
    background-color: #41230e;
}


/* INICIO PERFIL */

.myprofile{
    width: 100%;
    min-height: 110vh;
    background-image: url(../assets/backprofile.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadropro {
    background-color: white;
    width: 1000px; 
    height: 450px; 
    border-radius: 40px;
    padding: 30px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.titulopro {
    color: #4C3423;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-top: 30px;
}

.formulario2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-right: 40px;
}

.profile-pic2 img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-right: 40px;
}

.profilee {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    width: 90%; 
    margin: 0 auto; 
    gap: 20px; 
}
.texto {
    width: 260px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
}

.titulo{
    color: #4C3423;
    font-size: 16px;
    font-weight: 500;
}

.change {
    text-align: right; 
    padding-left: 570px;
    color: #4C3423;
    font-size: 11px;
    font-weight: 500;
    margin-top: -25px;
}


a {
    text-decoration: none;
    color: #4C3423;
}

a:hover{
    color: gray;
}

.datos3, .datos4 {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    width: 45%; 
}


/* INICIO FOOTER */

footer{
    width: 100%;
    min-height: 50vh;
    background-color: #FFF5BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerfooter{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    flex-wrap: wrap;
    width: 100%; 
    justify-content: space-between; 
}

.footerlogo{
    width: 350px;
}
.containerimgg{
    display: flex;
}

#titlefooter{
    color: #000;
    text-align: start;
    font-size: 30px;
    font-weight: 500;
    width: 100%; 
}


.containerlocationfollow{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 300px;
    margin-right: 50px;
    gap: 20px;
    padding-top: 5px;
}

.location{
    padding-bottom: 20px;


    p{
        color: #000;
        font-size: 16px;
        font-weight: 400;
    }
}


.icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 3px;
    text-align: center ;
    justify-content: start;
}


.fa-instagram {
    color: black;
    font-size: 22px;
    font-weight: bold;
}


.fa-facebook-f{
    color: black;
    font-size: 20px;
}


.fa-google{
    color: black;
    font-size: 20px;
}


form {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    width: 100%;
    margin-right: 20px;
}

.containerform{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
}

.containerform input,textarea{
    width: 470px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}


.containerform textarea{
    height: 40px;
}


.buttonfooter {
    width: 15%;
    height: 30px;
    margin-top: 10px;
    background-color: #67C46B;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}


.buttonfooter:hover{
    color: gray;
    background: #3db042;
}

/* rights */

.containerrights {
    text-align: center;
    padding-top: 20px;
    border-top: 1.5px solid #000;
    width: 93%;
    height: 30px;
    margin: 20px auto;
    flex-basis: 100%;
    font-size: 12px;
    font-weight: 400;
}